* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.flex-container {
  display: block;
  margin: 2px;
  /* flex-direction: column; */
  /* display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px; */
}

/* .grid-container > div {
  text-align: left;
  padding: 20px 0;
  border-style: solid;
} */

.notes {
  display: flex;
  /* flex-direction: row; */
  /* grid-column-start: 1;
  grid-column-end: 4; */
}

.nav {
  /* grid-column-start: 1;
  grid-column-end: 2; */
}

/* .item3 {
  grid-column-start: 2;
  grid-column-end: 4;
} */

.header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 1%;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-family: Arial;
}

.button {
  background-color: lightgray;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(170, 161, 161);
}

.delete {
  background-color: rgb(223, 23, 23);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px 9px;
  cursor: pointer;
}

.delete:hover {
  background-color: rgb(224, 83, 83);
}

.home {
  text-decoration: none;
  color: white;
}

.titles {
  background-color: #eee;
  /* left: 0; */
  margin: 0.3em;
  padding: 0.3em;
  padding-left: 0.1em;
  border-radius: 4px;
}

.title {
  text-decoration: none;
  color: #1f333d;
  cursor: pointer;
}

.title:hover {
  color: black;
  background-color: #ddd;
  left: 0.1em;
}
